.btn {
    flex: none;
    align-self: right;
    padding: 0 6px;
    margin: 4px;
    font-size: 18px;
    border: 1px solid currentColor;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    user-select: none;
  }
  .btn:disabled {
    background: #ccc !important;
    cursor: not-allowed;
  }
  .btn.warn {
    background: #ca6545;
  }
  .btn.normal {
    background: #4588ca;
    min-width: 40px;
  }
  .btn.info{
    background: #88ca45;
  }
  .btn.error {
    background: #ca4545;
  }