body {
  background-color: rgb(247, 247, 225);
}
.App {
  margin: 10%;
  padding: 40px 0  40px 90px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 2px dotted gray;
}
.App-header {
  font-size: calc(20px + 2vmin);
  color: darkgray;
}

.todo-item {
  width: 70%;
  display: flex;
  flex-direction: row;
}
.todo-item:nth-of-type(even) {
  background-color: rgba(255,255,255,.5);
}
.todo-item:nth-of-type(odd) {
  background-color: transparent;
}

.finished {
  text-decoration: line-through;
  color: lightgray;
}
.input {
  padding: 4px;
  border-radius: 4px;
  width: 30%;
  border: 1px solid #aaa;
}
.text {
  flex: 1;
  margin: 4px;
}
